$background: #1c1d23;
$surface: #343640;
$primary: #1883BF;
$secondary: #FABB17;
$tertiary: #EB5925;
$error: #e63946;
$info: #ffb703;
$success: #16db65;
$warning: #fb8500;

$light: #ffffff;
$dark: #1c1d23;

$light-blur: #ffffff8b;
$dark-blur: #1c1d238b;